<h2>Про сайт</h2>
<p>
    Сподіваюсь, мій досвід, комусь станеться в нагоді.
</p>
<p>
    На цей час, статі наведені на сайті відображають лише мій досвід.
</p>
<p>
    Не знаю чи буде це мати розвиток але на цей час - так.
</p>
<p>
    Якщо, є бажання написати - розділ "зв'язок" станеться в нагоді.
</p>
<p>
    Не обіцяю своєчасно або зовсім відповідати, але все одно буде приємно.
</p>
<p>
    Також, не зайвим буде, якщо користуючись текстами з сайту будете робити посилання.
</p>
<p>
    <br/>
    Всього найкращого.
</p>
